# Production credentials & configuration
config.prod.json

# Binaries and executables
/app
/docmate
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
